# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
aspnet-core/src/PMS.Web.Host/App_Data/Logs/
aspnet-core/src/PMS.Web.Mvc/App_Data/Logs/
aspnet-core/src/PMS.Migrator/Logs/Logs.txt
/aspnet-core/src/PMS.Web.Host/appsettings.Development.json
/aspnet-core/src/PMS.Web.Host/appsettings.Production.json
/angular/debug.log
/aspnet-core/build/outputs
/aspnet-core/src/PMS.Web.Reporter/Configuration/connectionStrings.config
/aspnet-core/src/PMS.Web.Host/wwwroot/Uploads/
/aspnet-core/src/PMS.Web.Host/wwwroot/assets
/aspnet-core/src/PMS.Web.Host/wwwroot/*.js
/aspnet-core/src/PMS.Web.Host/wwwroot/*.css
/aspnet-core/src/PMS.Web.Host/wwwroot/*.png
/aspnet-core/src/PMS.Web.Host/wwwroot/*.svg
/aspnet-core/src/PMS.Web.Host/wwwroot/*.woff
/aspnet-core/src/PMS.Web.Host/wwwroot/*.eot
/aspnet-core/src/PMS.Web.Host/wwwroot/*.ttf
/aspnet-core/src/PMS.Web.Host/wwwroot/*.woff2
/aspnet-core/src/PMS.Web.Host/wwwroot/*.html
/aspnet-core/src/PMS.Web.Host/wwwroot/*.config
/aspnet-core/src/PMS.Web.Host/wwwroot/*.txt
/aspnet-core/build/outputs-staging
/docs/.build
/aspnet-core/build/cmpc
/aspnet-core/build/staging
/aspnet-core/build/net7.0
/aspnet-core/src/PMS.Web.Host/wwwroot/Pdfs
/aspnet-core/build/hostinger
/aspnet-core/build/hostinger.zip
/aspnet-core/build/eportal
/aspnet-core/build/eportal.zip
/aspnet-core/build/PMS
/aspnet-core/build/PMS.zip
/aspnet-core/build/Staging.zip
docs/retype.manifest
/docs/retype.manifest
**/.DS_Store
aspnet-core/src/PMS.Web.Host/wwwroot/chrome-win
